@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    body,
    html {
      font-family: "Poppins", sans-serif;
      background-color: #fcfeff;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      /* cursor: none; */
    }

    h1 {
      color: #26133f;
      margin-left: 4%;
      font-size: 35px;
    }
    .navbar {
      display: flex;
      flex-wrap: wrap;
    }
    .navbar ul {
      width: max-content;
      display: flex;
      padding-top: 1.8%;
      margin-left: 65%;
      list-style: none;
    }

    .navbar li{
        padding-left:10%;
        color: #828086;
    }
    .navbar li a {
      min-width: max-content;
      float: left;
      color: #828086;
      text-decoration: none;
      list-style: none;
      transition: 0.2s;
    }


    .navbar li a:hover{
      color: black;
      transition: 0.4s;
      cursor: pointer;
    }

    .navbar li{
        color: black;
        transition: 0.4s;
        cursor: pointer;
    }
    .search {
      width: 35%;
      height: 7.5%;
      margin-left: 32%;
      background-color: #f1eded;
      border-radius: 60px;
      border: none;
      outline: none;
        display: flex;
    }
    input {
      background: transparent;
      border: none;
      margin: 3%;
      width: 70%;
      outline: none;
    }
    .search:hover {
      outline: none;
    }
    #enter {
      outline: none;
      color: white;
      text-transform: capitalize;
      background-color: #796fe9;
      width: 30%;
      padding: 2%;
      height: 100%;
      border-radius: 60px;
      border: none;
      border: 5px solid #F1EDED ;
      /* border-bottom-right-radius: 60px; */
      transition: 0.3s;
    }

    #enter:hover {
      outline: none;
      background-color: #c9e96f;
      color: #26133f;
      transition: 0.3s;
      cursor: pointer;
    }

    .product-list {
      background-color: rgb(253, 255, 249);
      padding: 3px;
    }
    .product-list .card {
      background-color: rgba(231, 243, 206, 0.898);
      border-radius: 10px;
      padding: 1px;
      box-shadow: 0px 10px 5px #b2bec3;
      text-align: center;
      margin: 50px;
    }

    .but {
      background-color: burlywood;
      border: none;
      padding: 2px;
      border-radius: 5px;
      font-weight: bold;
    }
    .container {
      padding: 2%;
    margin-top: 1%;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        background-color: #f1eded;
        border-radius: 15px;
        height: max-content;
        transition:0.4s;
        margin-top: 2%;
    }

    ::-webkit-input-placeholder{
        font-family: "Poppins", sans-serif;
    }
    .card:hover{
        transition:0.4s;
        cursor:pointer;
        box-shadow: 0 15px  40px rgba(0,0,0, .5);
    }
      .card img{
          
      height: 200px;
      width: 25%;
      object-fit: cover;
      border-radius: 10px;
      transition: 0.4s;
      }

    #productName{
        color: #26133f;
        font-weight: 700;
        font-size:25px;
        text-transform: capitalize;
    }

    #seller{
        color: #796FE9;
        text-transform: capitalize;
        font-weight: 600;
        font-size:15px;
    }

    #desc{
        font-size:13px;
        font-weight: 500;
        margin:0.5%;
    }

    .right1{
        float: left;
        width: 60%;
        height: max-content;
        padding-left: 2%;

    }
    table{
        min-width: 10%;
    }
    td{
        text-align: center;
      padding-left:5%;
        padding-right: 5%;
        width:30%;
    }

    .btn1{

        outline: none;
        text-transform: capitalize;
        background-color: #796fe9;
        width:100%;
        font-family: 'Poppins', sans-serif;
        color: white;
        padding: 2%;
        outline: none;
        border-radius: 25px;
        border: none;
        /* border-bottom-right-radius: 60px; */
        transition: 0.3s;
    }


    .bt2{
        background-color: #C9E96F;
        border-radius: 25px;
        width:100%;
        color: white;
        padding: 2%;
        border: none;
        font-family: 'Poppins', sans-serif;
        outline: none;
        text-decoration: none;
        transition: 0.4s;
    }

    .btn1:hover{
        background-color: black;
        transition: 0.4s;
        cursor:pointer
    }

    .bt2:hover{
        background-color: black;
        transition: 0.4s;
        cursor:pointer
    }
    .dropbtn {
      background-color: transparent;
      padding: 16px;
      font-size: 10px;
      border: none;
      cursor: pointer;
    }

    .upperContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        margin-left: 5%;
        margin-right: 33%;
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
    
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
        background-color: #b2bec3;
    }



    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      z-index: 22;
    }

