<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/list.css">
    <title>BechDe</title>
  </head>
  <body>
    <nav class="navbar">
        <h1>BechDe</h1>
      <ul>
      
        <li><a href="home.html">View Cart</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </nav>

    <form action="" class="search">
        <input  placeholder="search for products ..."></input>
        <button id="enter" style="font-family: 'Poppins', sans-serif;">search</button>
    </form>
    
<div class="uperContainer">
<div class="dropdown" onmouseover="shift()" onmouseleave="unshift()">
  <button class="dropbtn" style="outline: none;" ><svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect width="45" height="43" fill="url(#pattern0)"/>
<defs>
<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#image0" transform="translate(0.0222222) scale(0.0318519 0.0333333)"/>
</pattern>
<image id="image0" width="23" height="23" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAX0lEQVRIie3RMQrAMAxDUZH738oHS8cEDwIju1CqD56FeYD7WwFgD13cQ2v8ldN+cesDdRoHSJPGNqUpxtQ012ls01IV45JpTjG2qRQzlkxzFWObtnYbt5rmmLFNndQDOt9W49Kjf+gAAAAASUVORK5CYII="/>
</defs>
</svg>
</button>
  <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div>
</div>
     <span style="text-align: center; width: 80%;">5 results found</span>
</div>
   
         
     <div class="container">
        <div class="card">
            <img src="../Assets/cycle.jpg">
            <div class="right1">
                <span id="productName">hero cycle</span><br>
                <span  id="seller">Hemang Pandey </span>
                <p id="desc">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos maiores aut eveniet fuga necessitatibus cupiditate, eligendi consequuntur sit. Quam est at perspiciatis voluptates voluptatum, doloremque fugiat quis soluta non sunt!"</p>
                <table>
                    <tr><td id="buy" style="font-weight: 500;">$ 100</td>
                    <td id="rent" style="font-weight: 500;">$10</td></tr>
                    
                    <tr><td><button class="btn1">Buy</button></td> <td><button class="bt2">Rent</button></td></tr>
                </table>
            </div>
        </div>
           <div class="card">
            <img src="../Assets/cal.JPG">
            <div class="right1">
                <span id="productName">CASIO GT82 Scientific calculator</span><br>
                <span  id="seller">Divesh arora </span>
                <p id="desc">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos maiores aut eveniet fuga necessitatibus cupiditate, eligendi consequuntur sit. Quam est at perspiciatis voluptates voluptatum, doloremque fugiat quis soluta non sunt!"</p>
                <table>
                    <tr><td id="buy" style="font-weight: 500;">$ 100</td>
                    <td id="rent" style="font-weight: 500;">$10</td></tr>
                    
                    <tr><td><button class="btn1">Buy</button></td> <td><button class="bt2">Rent</button></td></tr>
                </table>
            </div>
        </div>
           <div class="card">
            <img src="../Assets/beard.jpg">
            <div class="right1">
                <span id="productName">beardo beard grooming kit</span><br>
                <span  id="seller">abhishek padhy</span>
                <p id="desc">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos maiores aut eveniet fuga necessitatibus cupiditate, eligendi consequuntur sit. Quam est at perspiciatis voluptates voluptatum, doloremque fugiat quis soluta non sunt!"</p>
                <table>
                    <tr><td id="buy" style="font-weight: 500;">$ 100</td>
                    <td id="rent" style="font-weight: 500;">$10</td></tr>
                    
                    <tr><td><button class="btn1" style="font-family: 'Poppins', sans-serif;">Buy</button></td> <td><button class="bt2" style="font-family: 'Poppins', sans-serif;">Rent</button></td></tr>
                </table>
            </div>
        </div>
           <div class="card">
            <img src="../Assets/cont.JPG">
            <div class="right1">
                <span id="productName">Xbox Wireless Controller – Carbon Black </span><br>
                <span  id="seller">tipendra gada </span>
                <p id="desc">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos maiores aut eveniet fuga necessitatibus cupiditate, eligendi consequuntur sit. Quam est at perspiciatis voluptates voluptatum, doloremque fugiat quis soluta non sunt!"</p>
                <table>
                    <tr><td id="buy" style="font-weight: 500;">$ 100</td>
                    <td id="rent" style="font-weight: 500;">$10</td></tr>
                    
                    <tr><td><button class="btn1">Buy</button></td> <td><button class="bt2">Rent</button></td></tr>
                </table>
            </div>
        </div>
     </div>

    
  </body>
  <script>
    
   function shift(){
        document.querySelector('.container').style.marginTop="8%";
        document.querySelector('.container').style.transition="0.4s";
   }

   function unshift(){
        document.querySelector('.container').style.marginTop="1%";
        document.querySelector('.container').style.transition="0.4s";
   }
    
  </script>
</html>
