<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/sell.css" />
    <title>BechDe</title>
    <style>
      .splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
          border: 3px solid #17071b;
      }
    </style>
  </head>
  <body></body>
  
      <div class="left">
        <nav class="navbar">
          <h1>BechDe</h1>
        </nav>
        <div id="primary-slider" class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide"><img src="../Assets/up.png" ></li>
              <li class="splide__slide"><img src="../Assets/up.png"></li>
              <li class="splide__slide"><img src="../Assets/up.png"></li>
            </ul>
          </div>
        </div>
        <div id="secondary-slider" class="splide" style="width: 87%;margin-left: 6%;margin-right: 6%;">
          <div class="splide__track" style="width: 100%;">
            <ul class="splide__list" >
              <li class="splide__slide" id="sec" style="  border: 10x solid #F5E8E8;">
                <img src="../Assets/up.png" >
              </li>
              <li class="splide__slide"  id="sec" style="  border: 10x solid #F5E8E8;">
                <img src="../Assets/up.png">
              </li>
              <li class="splide__slide"  id="sec" style="  border: 10x solid #F5E8E8;">
                <img src="../Assets/up.png">
              </li>
            </ul>
          </div>
        </div>
        
        <input type="file" onchange="readURL(this);" id="upload" accept="image/*" hidden/>
        <label for="upload" ><p id="upload-btn">Choose Image</p></label>
        <br><br><br><br>
      </div>
      <div class="right">
        <nav class="navbar">
          <ul style="margin-top: 5%;">
            <li><a href="Viewcart.html">Buy</a></li>
            <li><a href="profile.html">Sell</a></li>
            <li><a href="Viewcart.html">View Cart</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </nav>
        <div class="form">
          <form>
            <p>Product Name :</p>
            <input type="text" id="input1" required placeholder="Enter Product Name"/>
            <p>Rent Price :</p>
            <input type="text" id="input2" required placeholder="Enter Rent Price"/>
            <p>Sell Price :</p>
            <input type="text" id="input3" required placeholder="Enter Sell Price"/>
            <p>Description :</p>
            <textarea id="input4" rows="10"></textarea>
            <p>User Hostel Block  :</p>
            <input type="text" id="input5" required placeholder="Enter Hostel Block Name"/>
            <p>Tags :</p>
            <select  id="tags">
              <option value="">a1 quality</option>
              <option value="">Sasta</option>
              <option value="">Cash back</option>
              <option value="">Discount</option>
            </select>
            <input type="file" id="input6" value="" hidden />
            <input type="file" id="input7" value="" hidden />
            <input type="file" id="input8" value="" hidden />
            <button type="submit" id="signup">List Product</button>
            <br><br><br><br>
          </form>
        </div>
      </div>
    </div>

    
  </body>
</html>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#blah").attr("src", e.target.result);
        $("#input6").attr("value", e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
<script>

var secondarySlider = new Splide( '#secondary-slider' );
var primarySlider = new Splide( '#primary-slider' );
// primaryslider.sync( secondarySlider ).mount();
document.addEventListener( 'DOMContentLoaded', function () {
	var secondarySlider = new Splide( '#secondary-slider', {
		fixedWidth  : 150,
		speed : 300,
		height      : 90,
		gap         : 40,
		cover       : true,
		isNavigation: true,
		focus       : 'center',
   
		breakpoints : {
			'100': {
				fixedWidth: 66,
				height    : 40,
			}
		},
	} ).mount();
	
	var primarySlider = new Splide( '#primary-slider', {
		type       : 'fade',
		heightRatio: 0.65,
    height      : 340,
    fixedWidth  : 540,
		speed : 300,
		pagination : false,
		arrows     : false,
		cover      : true,
    keyboard:'focused',
  
 
	} );
	
	primarySlider.sync( secondarySlider ).mount();
} );
  </script>